
.jumbotron{
    color: black;
    background-color: mediumaquamarine;
}

footer{
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    background-color: mediumaquamarine;
}

.card {
    flex: 1 150px;
    padding: 2px 5px;
    margin-top: 10px;
}

.btn-ver{
    left: 0;
    width: 100%;
    bottom: 0;
    position: absolute;
}